body {
	font-family: sans-serif;
}

input {
	font-size: 16px;
}

form {
	display: grid;
	grid-template-rows: repeat(7, 80px);
	grid-template-columns: repeat(2, 225px);
	border-radius: 10px;
	max-width: 450px;
	padding: 10px;
	margin: 50px auto auto auto;
	box-shadow: 0 0 28px 2px #454545;
	margin-top: 120px;
}

h1 {
	font-size: 30px;
	text-align: center;
	grid-area: 1/1/1/3;
	justify-self: center;
}

#username {
	height: 40px;
	border-radius: 10px;
	grid-area: 2/1/2/3;
}

#userpassword {
	grid-area: 3/1/3/3;
	height: 40px;
	border-radius: 10px;
}

#confirm-password {
	grid-area: 4/1/4/3;
	height: 40px;
	border-radius: 10px;
}

#user-email {
	grid-area: 5/1/5/3;
	height: 40px;
	border-radius: 10px;
}

#user-country {
	grid-area: 6/1/6/1;
	height: 40px;
	border-radius: 10px;
	width: 200px;
}

#zip-code {
	grid-area: 6/2/6/2;
	height: 40px;
	border-radius: 10px;
	width: 200px;
	justify-self: end;
}

#submit {
	grid-area: 7/1/7/3;
	border-radius: 10px;
	width: 90px;
	height: 45px;
	color: white;
	font-size: 18px;
	background-color: #008CBA;
	border: none;
}

#submit:hover {
	background-color: #0284b0;
	box-shadow: ;
	transition: .5s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
	display: block;
	margin: 10px auto 10px auto;
	height: 35px;
}

input:invalid {
	box-shadow: 0 0 5px 1px red;
}